@* //service razor view *@


<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <div><h3>Neden Yummy?</h3></div>
                    <div>
                        <p>
                            Yummy, sadece yemek sunmaz; her lokmada bir deneyim yaşatır. Taze malzemelerle hazırlanan menümüz, damak zevkinize hitap eder. Her tabakta kaliteyi ve özeni hissedersiniz. Çünkü biz, yemeği sadece karın doyurmak için değil, mutluluğun bir parçası olarak görüyoruz.

                        </p>
                    </div>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Corporis voluptates officia eiusmod</h4>
                            <p>
                                Taptaze lezzetler güvenle sunulur
                                Doğadan sofraya ulaşan her tat özenle seçilir, kalite asla tesadüf değildir
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Ullamco laboris ladore lore pan</h4>
                            <p>
                                Gelenekle harmanlanan modern dokunuşlar
                                Her lokmada özgün tarifler, her tabakta samimi bir hikâye hissedilir
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Labore consequatur incidid dolore</h4>
                            <p>
                                Lezzetin doğallıkla buluştuğu özgün menüler
                                Sadeliğin içindeki zenginlik, her damakta iz bırakır, her anı özel kılar
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section>